
.background{
    /* background-color: #282c34; */
    background: white !important;
   
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* overflow: hidden; */
    padding: 0%;
}


.background2{
    /* background-color: #282c34; */
    background: whitesmoke !important;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* overflow: hidden; */
    padding: 0%;
}


.toggleBtn{
    height: 10vh;
    align-self:flex-end;
    margin-left: 20%;
}

.tasksContainer{
    margin-left: 20% !important;
}


.modalHeader{
    background:orange;
    color: black;
    border: 1px solid white;
    border-bottom: none;
}

.modalBody{
    background:dodgerblue;
    color:black;
    border: 1px solid white;
    border-top: none;
}

.modalBodyStatic{
    background: rgb(173, 218, 230);
    color: black;
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
}


.modalFooter{
    background: dodgerblue;
    color: #dad9d7;
    border: 1px solid #dad9d7;
    border-top: none;
}




.modalBody::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}
  
.modalBody::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
  
.modalBody::-webkit-scrollbar-thumb {
    background-color: #f09204;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #dad9d7;  /* creates padding around scroll thumb */
}




.modalBodyStatic::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}
  
.modalBodyStatic::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
  
.modalBodyStatic::-webkit-scrollbar-thumb {
    background-color: #f09204;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #0c0c0c;  /* creates padding around scroll thumb */
}

.img{
    padding: 100px
}