.background {
    background: url('../images/output-onlinepngtools.png') no-repeat center center fixed;
    background-size: 50% auto;
    /* set height to 50% and width to auto */
    height: 100vh;
    fill-opacity: 0.5;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    background-color: #dad9d7;
}

.background2 {
    /* background-color: #282c34; */
    background: rgba(247, 247, 247, 255) !important;
    background-image: url('../images/WhatsApp_Image_2023-04-09_at_12.46.28_PM-removebg-preview.png');
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* overflow: hidden; */
    padding: 0%;
}

.toggleBtn {
    height: 10vh;
    align-self: flex-end;
    margin-left: 20%;
}

.tasksContainer {
    margin-left: 20% !important;
}

.modalHeader {
    background: #ed2f00;
    color: black;
    border: 1px solid white;
    border-bottom: none;
    cursor: move;
}

.modalBody {
    background-color: white;
    color: black;
    border: 1px solid white;
    border-top: none;
}

.modalBodyStatic {
    background: white;
    color: black;
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
}

.modalFooter {
    background: rgb(56, 5, 5);
    color: #dad9d7;
    border: 1px solid #dad9d7;
    border-top: none;
}

.modalBody::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

.modalBody::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

.modalBody::-webkit-scrollbar-thumb {
    background-color: #f09204;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #dad9d7;
    /* creates padding around scroll thumb */
}

.modalBodyStatic::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

.modalBodyStatic::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

.modalBodyStatic::-webkit-scrollbar-thumb {
    background-color: #f09204;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #0c0c0c;
    /* creates padding around scroll thumb */
}

.img {
    padding: 100px
}