.noteSubmitBtn {
    margin: auto;
    border: 1px solid black;
}

.notesCont {
    background-color: #f15654;
    color: black;
    border: 1px solid #dad9d7;
    border-radius: 10px 10px 10px 10px !important;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.63);
    cursor: pointer;
    text-align: left;
}

.notesCont:hover {
    border: 1px solid#f15654;
    box-shadow: 0px 0px 10px 1px#f15654;
    cursor: pointer;
}

.selectedListBtn {
    background-color: white;
    border: 1px solid#f15654;
    border-radius: 25px 10px 25px 10px !important;
    text-align: center;
    cursor: pointer;
}

.selectedListBtn:hover {
    border: 1px solid#f15654;
    box-shadow: 0px 0px 10px 1px#f15654;
    cursor: pointer;
}