.todoModel{
    /* color: black; */
    text-decoration: solid;
}

.todosList{
    /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
    background-color: transparent;
    color:white;
}
 

.todosContainer{

    border-top:1px solid black ;
    margin-top: 5%;
    margin-left: 0% !important;
}

.todoOffCanvas{
    background: dodgerblue;
    color: whitesmoke;
}

.badgeList{
    background-color: transparent !important;
    color:white;
}